@import url(https://fonts.googleapis.com/css?family=Handlee);
ul li{
  list-style-type: none;

}
.mainContainer{
  width: 345px;
  height: 593px;
  background-color: #FFFBB7;
  /*background-color: #BFFEFF;*/
  margin: 0 auto;
  margin-top: 50px;
}
/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

#headerContainer {
  height: 74px;
  position: relative;
  background-color: #7FB2F0;

  font-size: 50px;
  font-family: helvetica;
  text-align: center;
  color: white;
  font-weight: bold;
  
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
#headerContainer:hover, #headerContainer:focus, #headerContainer:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/*adding affect*/
#rock {
 width: 162px;
  height: 207px;
  margin: 5px;
  background-color: #2EEBAD;
  position: relative;
  float: left;

  /*reveal*/
 
  /*font*/
  font-size: 50px;
  font-family: helvetica;
  text-align: center;
  color: white;
  font-weight: bold;


  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
/* Bounce To Right */
#rock {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#rock:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7B7BFF;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#rock:hover, #rock:focus, #rock:active {
  color: white;
}
#rock:hover:before, #rock:focus:before, #rock:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#funk{
  width: 162px;
  height: 120px;
  background-color: #10FFFF;
  position: relative;
  float: left;
  margin: 5px;
  /*font*/
  font-size: 50px;
  font-family: helvetica;
  text-align: center;
  color: white;
  font-weight: bold;
}
/*adding an effect*/
@keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}

#funk {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(35, 230, 214, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
/*adding affect*/
#funk {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#funk:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF1C3C;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#funk:hover, #funk:focus, #funk:active {
  color: white;
}
#funk:hover:before, #funk:focus:before, #funk:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


#alternative{
  width: 162px;
  height: 207px;
  background-color: #3696FF;
  position: relative;
  float: right;
  margin: 5px;
  /*font*/
  font-size: 30px;
  font-family: helvetica;
  text-align: center;
  color: white;
  font-weight: bold;
}

/*adding effect*/

#alternative {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#alternative:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5FFFAE;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#alternative:hover, #alternative:focus, #alternative:active {
  color: white;
}
#alternative:hover:before, #alternative:focus:before, #alternative:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


#jazz{
  width: 95px;
  height: 290px;
  background-color: #BB8CDD;
  position: relative;
  float: left;
  margin: 5px;
  /*font*/
  font-size: 30px;
  font-family: helvetica;
 /* transform: rotate(90deg);
  transform-origin: left top 0;*/
  text-align: center;
  color: white;
  font-weight: bold;
}
/*effect for jazz*/
#jazz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #E84183;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#jazz:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #BB8CDD;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#jazz:hover, #jazz:focus, #jazz:active {
  color: white;
}
#jazz:hover:before, #jazz:focus:before, #jazz:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

#s80{
  width: 58px;
  height: 121px;
/*  background-color: #F296FF;*/
  background-color: #F26671;
  position: relative;
  float: left;
  margin: 5px;
  /*font*/
  font-size: 30px;
  font-family: helvetica;
  text-align: center;
  color: white;
  font-weight: bold;
}
/* Shutter In Vertical */
#s80 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #7A5EFF;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#s80:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FF6633;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#s80:hover, #s80:focus, #s80:active {
  color: white;
}
#s80:hover:before, #s80:focus:before, #s80:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
#s90{
  width: 230px;
  height: 157px;
  background-color: #50DFF3;
  position: relative;
  float: left;
  margin: 5px;
  /*font*/
  font-size: 50px;
  font-family: helvetica;
  text-align: center;
  color: white;
  font-weight: bold;
}


/* Shutter In Horizontal */
#s90 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #50DFF3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#s90:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9EFF80;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#s90:hover, #s90:focus, #s90:active {
  color: white;
}
#s90:hover:before, #s90:focus:before, #s90:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}



/*Rock*/
#back{
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
#headerContainerRock{
  position: relative;
}
.score{
  /*font-family: 'Handlee', cursive;*/
  font-family: helvetica;
  font-size: 30px;
  position: relative;
  float: left;
  margin-left: 43px;
  margin-top: 15px;
  font-weight: bold;
  /*color: #FF6633;*/
  color: #004b87;
   text-transform: capitalize;

}
#next{
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
/*.numWin{
  font-size: 20px;
  font-family: helvetica;
  color: red;
  text-decoration: none;
  text-align: center;
}*/
#parallelogram {
  width: 80px;
  height: 40px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
  background: #d7c826;
  position: relative;
  float: left;
  margin: 5px;
  margin-left: 30px;
  font-size: 31px;
  font-family: helvetica;
  color: #bf0d3e;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
#parallelogram1 {
  width: 80px;
  height: 40px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
  background: #d7c826;
  position: relative;
  float:left;
  margin: 5px;
  padding-top: 2px;

  font-size: 31px;
  font-family: helvetica;
  font-weight: bold;
  color: #bf0d3e;
  text-decoration: none;
  text-align: center;
}
.play{
position: relative;
float: left;
margin-left: 70px;
margin-top: 5px;
content: url("play.png");
}
.wrong{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.searchinput{
  position: relative;
  /*float: left;*/
  text-align: center;
  margin-left: 25px;
  font-size: 15px;
  color: #3C56A6;
  height: 28px;
  outline-width: 2px;
  border-radius: 2px;
}
#albumCover{
  position: relative;
  float: left;
  margin-left: 23px;
  margin-top: 0px;
}

#artistName{
  /*position: relative;
  float: left;*/
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: helvetica;
  font-weight: bold;
  margin-left: 135px;
  margin-top: 20px;
  color: #004b87;
}
#trackName{
 display: block;
  /*float: left;*/
  /*font-size: 18px;*/
  font-family: helvetica;
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
  margin-left: 135px;
  color: #004b87;
}
#albumName{
  display: block;
  font-family: helvetica;
  /*float: left;*/
  margin-top: 5px;
  margin-left: 135px;
  font-family: 13px;
  color: #004b87;
}
/*i had it as a id*/
.guitar{
/*content: url("guitar.png");*/
position: relative;
float: left;
}
.image {
    /*position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;*/
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }